<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/public.css"/>
		<link rel="stylesheet" type="text/css" href="../stylesheets/index.css"/>
	</head>
	<body>
		<div id="header">
			<p>
				<img src="../images/topLogo.png"/>
			</p>
			<ul class="nav1">
				<li><a href="#"><span><img src="../images/topmune_09.png"/></span>更多模板堂产品</a></li>
				<li><a href="#"><span><img src="../images/topmune_01.png"/></span>开店向导</a></li>
				<li><a href="#"><span><img src="../images/topmune_02.png"/></span>记事本</a></li>
				<li><a href="#"><span><img src="../images/topmune_03.png"/></span>刷新</a></li>
				<li><a href="#"><span><img src="../images/topmune_04.png"/></span>个人设置</a></li>
				<li><a href="#"><span><img src="../images/topmune_05.png"/></span>管理员留言</a></li>
				<li><a href="#"><span><img src="../images/topmune_06.png"/></span>查看网店</a></li>
				<li><a href="#"><span><img src="../images/topmune_007.png"/></span>帮助</a></li>
				<li><a href="#"><span><img src="../images/topmune_07.png"/></span>关于ECShop</a></li>
				<li><a href="#"><span><img src="../images/qingchu.png"/></span>清除缓存</a></li>
				<li><a href="#"><span><img src="../images/topmune_08.png"/></span>退出</a></li>
			</ul>
		</div>
		<div id="nav">
			<ul class="nav2">
				<li><a href="#"><span><img src="../images/index-11_07.png"/></span>起始页</a></li>
				<li><a href="#"><span><img src="../images/index-11_41.png"/></span>设置导航栏</a></li>
				<li><a href="#"><span><img src="../images/index-11_09.png"/></span>商品管理<i></i></a></li>
				<li><a href="#"><span><img src="../images/dd.png"/></span>订单管理<i></i></a></li>
				<li><a href="#"><span><img src="../images/index-11_13.png"/></span>广告管理<i></i></a></li>
				<li><a href="#"><span><img src="../images/index-11_19.png"/></span>用户评论<i></i></a></li>
			</ul>
			<ul class="nav2">
				<li><a href="productList" target="box">商品列表</a></li>
				<li><a href="#">订单列表</a></li>
				<li><a href="#">用户评论</a></li>
				<li><a href="#">会员列表</a></li>
				<li><a href="#">商店设置</a></li>
				<li><a href="#">移动版</a></li>
			</ul>
		</div>
		<div id="body-con">
			<div class="list">
				<a href="subIndex1" target="box">导航菜单</a>
				<ul class="list-sun">
					<li class="bgY"><a href="#">商品管理</a>
						<ul class="subList">
							<li><a href="productList" target="box">商品列表</a></li>
							<li><a href="addProduct" target="box">添加新商品</a></li>
							<li><a href="#">商品分类</a></li>
							<li><a href="#">用户评论</a></li>
						</ul>
					</li>
					<li class="bgY"><a href="#">促销管理</a></li>
					<li class="bgY"><a href="#">订单管理</a></li>
					<li class="bgY"><a href="#">促销管理</a></li>
					<li class="bgY"><a href="#">订单管理</a></li>
					<li class="bgY"><a href="#">促销管理</a></li>
					<li class="bgY"><a href="#">订单管理</a></li>
					<li class="bgY"><a href="#">促销管理</a></li>
					<li class="bgY"><a href="#">订单管理</a></li>
					<li class="bgY"><a href="#">促销管理</a></li>
					<li class="bgY"><a href="#">订单管理</a></li>
					<li class="bgY"><a href="#">促销管理</a></li>
					<li class="bgY"><a href="#">订单管理</a></li>
				</ul>
			</div>
			<div class="right">
				<frameset class="pageList">
					<iframe width="1100px" height="578px" border="0" name="box" src="subIndex1" frameborder="no"> </iframe>
				</frameset>
			</div>
		</div>
	</body>
	<script src="../javascripts/jquery-1.9.1.js"></script>
	<script src="../javascripts/index.js"></script>
</html>
