<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/subIndex1.css"/>
		<link rel="stylesheet" type="text/css" href="../stylesheets/public.css"/>
	</head>
	<body>
		<h1>
			<a href="#">ECSHOP管理中心</a>
		</h1>
		<p>
			<span>no_license</span>
			<a href="#">点击查看</a>
		</p>
	</body>
</html>
